*{
	margin:0px;
	padding:0px;
	
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#home{
	height:830px;
    background-image: url("Developer background-min.jpg");
	background-size:cover;
	background-position:center;
}
#hamburger-menu{
	display:none;
}
nav{
	margin-left:62%;
	padding-top:3%;
	display:block;
	
	

}
nav a{
	color:white;
	font-size:2vw;
	text-decoration:none;
	font-family: 'Nunito Sans', sans-serif;
	text-shadow:2px 2px black;
	margin-left:4%;
	width:15%;
}
nav hr{
	width:90%;
}
a:hover{
	background-color:white;
	
}

#head {
   	color:white;
	text-shadow:2px 2px black;
	font-size:4.2vw;
	font-family: 'Nunito Sans', sans-serif;
	margin-left:20%;
	margin-right:15%;
	margin-top:14%;
}
#portfolio{
	height:1500px;
	background-color:white;
	    	

}
#portfolio h1{
	text-align: center;
	font-size:60px;
	font-family: 'Nunito Sans', sans-serif;
	margin-top:5%;
}
#portfolio h2{
	
	
	position:relative;
	left:55%;
	top:-200px;
	font-family: 'Nunito Sans', sans-serif;
	font-size:2vw;


}
#portfolio .imac{
	height:25%;
	width:45%;
	display:block;
	position:relative;
	left:10%;
	margin-top:1px;
}
#portfolio hr{
	width:1000px;
    border:none;
    height: 20px;
 	height: 50px;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 40px; 
}
#portfolio a{
	text-decoration:none;
	color:black;
}
#Skills{
	background: #e6e6e6;
	height:500px;
	
	
}
#Skills h1{
	text-align:center;
	font-family: 'Nunito Sans', sans-serif;
	font-size:50px;
	color:black;
	
	
}
#Skills .box{
	width:20%;
	height:60%;
	border:2px solid black;
	float:left;
	margin-left:4%;
	margin-top:5%;
	border-radius:5px;
	
}
#Skills .box h2{
	text-align:center;
}
#Skills .box i{

	color:black;
	margin-left:40%;

}
#Contact{
	background:#ffe066;
	height:80px;
	
}
#Contact h1, #Contact p{
	text-align:center;
	font-family: 'Nunito Sans', sans-serif;
	
}
#technologies{
	height:400px;
	background: linear-gradient(gainsboro,#999999);
	padding-top:2%;
	padding-bottom:2%;
}
#technologies h1{
	text-align:center;
	font-family: 'Nunito Sans', sans-serif;
	font-size:3vw;
	color:black;
	
	
}
#technologies .box h2 {
    
	text-align:center;

}
#technologies .text{
    
	text-align:center;
	
	margin-top:10%;
	font-family: 'Nunito Sans', sans-serif;
	color:black;
	
	font-size:2.5vw;
}
#technologies .box{
	 background:white;
	 width:20%;
	 margin-left:4%;
	 margin-top:4%;
	 float:left;
	 border-radius:8px;
}
#technologies .box i{
	margin-left:40%;
	margin-bottom:10%;
	
}

/*Media Queries*/
 
 
/*Tablet Media Query*/
@media screen and (max-width:800px){
	
	nav {
	 margin-left:0%;
	}
	nav a{
		margin-left:10%;
		font-size:4vw;	
	}
	nav hr{
		width:100%;
	}
	#head{
		margin-top:40%;
		font-size:6.2vw;
		
	}
	#portfolio{
		height:1000px;
	}
	#portfolio h1{
		font-size:35px;
		margin-bottom:4%;
	}
	#portfolio .imac{
		position:relative;
		left:2%;
		height:24%;
		width:62%;	
	}
	#portfolio h2{
		position:relative;
		left:64%;
		top:-140px;
		font-size:4vw;
		
	}
	#technologies{
		height:300px;
	}
	#technologies h1{
		font-size:35px;
	}
	#technologies .box i{
		margin-left:30%;
	}

}	

/*Mobile Media Query*/
@media screen and (max-width:420px){
	nav{
		background:black;
		display:none;
	}
	nav a{
		display:block;
		background:black;
		width:100%;
		margin-left:0%;
		border-bottom:1px solid gainsboro;
		padding:10px;
		
	}
	
	nav hr{
		display:none;
	}
	#home{
		height:600px;
	}
	#head{
		margin-top:40%;
		font-size:6.5vw;
	}
	#portfolio .imac{
		margin-top:5%;
		width:120%;
		left:-10%;
	}
	#portfolio h1{
		display:none;
	}
	#portfolio h2{
		left:32%;
		top:-255px;
		font-size:6.5vw;
	}
	#technologies{
		height:420px;
	}
	#technologies .text{
		font-size:5vw;
	}
	#technologies .box{
		width:45%;
	}
	#hamburger-menu{
		display:block;
		margin-left:88%;
		margin-right:2%;
		color:white;
	}
	
}		

