*{
	margin:0px;
	padding:0px;
	
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#home{
	height:830px;
}
img{
	
	height:850px;
	width:100%;
}
nav{
	position:relative;
	top:-95%;
	left:65%;
	
	

}
nav a{
	color:white;
	font-size:2vw;
	text-decoration:none;
	font-family: 'Nunito Sans', sans-serif;
	text-shadow:2px 2px black;
	margin-left:10px;
}
nav hr{
	width:34%;
}
a:hover{
	background-color:white;
	
}
#head{
	margin-left:200px;
	margin-right:200px;
	
	
}
#head {
    position:relative;
    top:-70%;
	color:white;
	text-shadow:2px 2px black;
	font-size:4.2vw;
	font-family: 'Nunito Sans', sans-serif;
	margin-left:300px;
}
#portfolio{
	height:1500px;
	background-color:white;
	    	

}
#portfolio h1{
	text-align: center;
	font-size:60px;
	font-family: 'Nunito Sans', sans-serif;
	margin-top:5%;
}
#portfolio h2{
	
	
	position:relative;
	left:55%;
	top:-200px;
	font-family: 'Nunito Sans', sans-serif;
	font-size:2vw;


}
#portfolio .imac{
	height:25%;
	width:45%;
	display:block;
	position:relative;
	left:10%;
	margin-top:1px;
}
#portfolio hr{
	width:1000px;
    border:none;
    height: 20px;
 	height: 50px;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 40px; 
}
#Skills{
	background: #e6e6e6;
	height:500px;
	
	
}
#Skills h1{
	text-align:center;
	font-family: 'Nunito Sans', sans-serif;
	font-size:50px;
	color:black;
	
	
}
#Skills .box{
	width:20%;
	height:60%;
	border:2px solid black;
	float:left;
	margin-left:4%;
	margin-top:5%;
	border-radius:5px;
	
}
#Skills .box h2{
	text-align:center;
}
#Skills .box i{

	color:black;
	margin-left:40%;

}
#Contact{
	background:#ffe066;
	height:80px;
	
}
#Contact h1, #Contact p{
	text-align:center;
	font-family: 'Nunito Sans', sans-serif;
	
}
#technologies{
	height:400px;
	background: linear-gradient(gainsboro,#999999);
	padding-top:2%;
	padding-bottom:2%;
}
#technologies h1{
	text-align:center;
	font-family: 'Nunito Sans', sans-serif;
	font-size:3vw;
	color:black;
	
	
}
#technologies .box h2 {
    
	text-align:center;

}
#technologies .text{
    
	text-align:center;
	
	margin-top:10%;
	font-family: 'Nunito Sans', sans-serif;
	color:black;
	
	font-size:2.5vw;
}
#technologies .box{
	 background:white;
	 width:20%;
	 margin-left:4%;
	 margin-top:4%;
	 float:left;
	 border-radius:8px;
}
#technologies .box i{
	margin-left:40%;
	margin-bottom:10%;
	
}




