*{
	margin:0px;
	padding:0px;
	text-decoration:none;
}
#home,#blankbox1,#specialties,#blankbox2,#emptyimage,#menu{
    margin-left:10%;
	margin-right:10%;
}
body{
	background-size:cover;
	overflow-x: hidden;
	
		
}
#home{
	background-image:url("tacobackground.jpg");
	/*filter:brightness(80%);*/
	height:800px;
	background-size:cover;
    background-position: center ;
    background-repeat: no-repeat;
	border: solid black 1px;
	margin-top:50px;
    padding-top:2%;		
}
#home #hamburger-menu{
	color:white;
	display:none;
}
#home header{
	color:white;
	font-family: 'Pacifico', cursive;
	display:inline;
	font-size:3vw;
    margin-left:4%;
    	
}

#home nav{
	color:white;
    font-family: 'pacifico', cursive;
	display:inline; 
	margin-left:32%;
	font-size:2vw;
	
}
nav a{
	color:white;
}
#home a:hover{
	background:black;
	font-size:23px; 	
}
#home h1{
	
	font-size:7vw;
	text-align:center;
	position:relative;
	top:26%;
	font-family: 'Pacifico', cursive;
	color:white;
	text-shadow: 1px 2px black;

}
#home p{
    position:relative;
	top:26%;
	color:black;
	font-size:4vw;
	text-align:center;
	text-shadow: 1px 2px black;
	color:white;
}
#blankbox1{
	height:370px;
	background-color:beige;

}
#about{
	height:430px;
	width:56%;
    margin-left:22%;
	margin-right:22%;
	background-color:white;
	position:absolute;
	top:850px;
	border:solid black 2px;
	z-index:2;

}
.about-top{
	background-color:white;
	height:50%;
	border-bottom:1px solid black;
}
.about-bottom{
	background-color:white;
	height:50%;
}
#about #map{
	height:100%;
	width:75%;
	margin-right:0%;
	float:right;
	border-left:1px solid black;
	border-bottom:1px solid black;
	
}
#about #about-image{
	height:100%;
	width:25%;
	float:left;
	
}
#about h1{
	font-size:1.5vw;
	font-family: 'Pacifico', cursive;
	text-align:center;
}
#about p{
	font-size:1vw;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	margin-left:2%;
}
#specialties{
	height:400px;
	background-image: url("onion.jpg");
	background-size:100%;
    background-position: center;
	

}
#specialties h1{
   position:relative;
   left:40%;
   top:45%;
   font-size:2vw;
   color:white;
   font-family: 'Nunito Sans', sans-serif;
   text-shadow:1px 1px black;
   
}
#specialtiesmenu{
	height:1000px;
    width:56%;
    margin-left:22%;
	margin-right:22%;
	background-color:white;
	position:absolute;
	top:1620px;
	border:solid black 2px;
	z-index:2;
	
}
#specialtiesmenu h1{
	font-size:1.5vw;
	text-align:center;
	margin-top:10%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-weight:bold;
	
}
#specialtiesmenu p{
	font-size:.9vw;
	text-align:center;
	margin-top:5%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-weight:normal;
}
#specialtiesmenu span{
	color:#C59D39;
	margin-left:23%;
	margin-top:10%;
	font-weight:bold;
	font-size:1.2vw;
}
.specialtiesmenu-top{
 width:25%;
 height:25%;
 float:left;
	
}
.specialtiesmenu-bottom{
	float:left;
	width:25%;
	height:25%;
	
}
#blankbox2{
	height:370px;
	background-color:beige;
	
}
#emptyimage{
	height:430px;
	background-image:url("taqueromucho.jpg");
	background-position:center;
	background-size:100%;
	filter:brightness(80%);
	
}
#menu{
	height:1250px;
	background-color:white;
	margin-bottom:200px;	
	padding-top:5%;
}
#menu h1{
 text-align:center;
 font-size:60px;
 font-family: 'pacifico', cursive;
 font-weight:normal;


 
}
#menu h2{
	text-align:center;
	margin-top:7%;
	margin-bottom:3%;
	font-size:2vw;
	
}
#menu h3{
	font-size:1.5vw;
}

#menu p{
	font-size:1vw;
	
}
#menu span{
	margin-top:10px;
}
#menu .menuitems{
	margin-left:9%;
	margin-bottom:3%;
    width:27%;
	float:left;

	
	
}
#menu .item-price{
	float:left;
	
	width:10%;
	font-size:3vw;
	color:#C59D39;
	font-weight:bold;
	

}


#menuwrapper{
	margin-left:7%;
	margin-right:7%;

}
















/* MEDIA QUERIES*/

/* Tablet Responsive*/
@media screen and (max-width:800px){
	#home,#blankbox1,#specialties,#blankbox2,#emptyimage,#menu{
		margin-left:5%;
		margin-right:5%;
	}
	
	#home header{
		
		font-size:4vw;
	}
	#home nav{
		margin-left:18%;
		font-size:2.6vw;
		
	}
	#home h1{
		top:35%;
		font-size:60px;
		
	}
	#home p{
		top:35%;
	}
	#about, #specialtiesmenu{
      height:400px;
	  width:70%;
	  margin-left:15%;
	  margin-right:15%;
	}
	#about h1{
		font-size:2.7vw;
	}
	#about p{
		font-size:1.8vw;
	}
	#specialties h1{
		font-size:3.7vw;
		left:35%;
	}
	#specialtiesmenu h1{
		font-size:2.5vw;
	}
	#specialtiesmenu p{
		font-size:1.6vw;
	}
	#specialtiesmenu span{
		font-size:1.8vw;
	}
	#menu{
		height:1000px;
	}
    #menu .menuitems{
	margin-left:7%;
	width:29%;
	
	}
	#menu .item-price{
		margin-top:24px;
		margin-left:2%;
		font-size:3vw;
	}
	#menu h2{
		font-size:30px;
	}
	#menu h3{
		font-size:2.5vw;
	}
	#menu p{
		font-size:1.5vw;
	}
}



@media screen and (max-width:400px){
	#home,#blankbox1,#specialties,#blankbox2,#emptyimage,#menu{
    margin-left:2%;
	margin-right:2%;
}
	#home h1 {
	
	}
	#home header, #home nav{
		display:none;
	}
	#home #hamburger-menu{
		display:block;
		float:right;
		margin-right:10px;
	}
	#about{
      
	  width:90%;
	  margin-left:5%;
	  margin-right:5%;
	}
	#blankbox2{
	height:900px;
	background-color:beige;
	}
	#specialtiesmenu{
		height:500px;
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}
	.specialtiesmenu-top{
 width:50%;
 height:50%;
 float:left;
	
}
	.specialtiesmenu-bottom{
	float:left;
	width:50%;
	height:50%;
	background-color:white;
	
	
}
	#specialtiesmenu h1{
		font-size:5vw;
	}
	#specialtiesmenu p{
		font-size:3.2vw;
	}
	#specialtiesmenu span{
		font-size:3.6vw;
	}
	#menu{
		height:1500px;
	}
	#menu .menuitems{
	margin-left:3%;
	width:80%;
	
	}
	#menu .item-price{
		margin-top:28px;
		margin-left:1%;
		font-size:6vw;
	}
	#menu h2{
		font-size:30px;
		margin-bottom:50px;
	}
	#menu h3{
		font-size:5.5vw;
	}
	#menu p{
		font-size:3.5vw;
	}
	
}
